@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:serif;
    font-size: large;
}

/* estilo body */
body{
    background-image: url(../img/pexels-pixabay-235985.jpg);
    background-size: cover;
    min-height: 100vh;
}

/* logo de la pagina */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* estilo del nav */

.principal{
    background-color: #470303;
    width: 100%;
    font-weight:bold;

}

.item1:hover{
    transition: 0.2s;
    padding: 10px;
    background-color: #830505;
}

.item2:hover{
    transition: 0.2s;
    padding: 10px;
    background-color: #830505;
}

.item3:hover{
    transition: 0.2s;
    padding: 10px;
    background-color: #830505;
}

.item4:hover{
    transition: 0.2s;
    padding: 10px;
    background-color: #830505;
}

.item5:hover{
    transition: 0.2s;
    padding: 10px;
    background-color: #830505;
}

/* estilo de enlaces */

.enlace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px;
}

a{
    text-decoration: none;
    font-size: 1.4em;
    color: white;
}

ul{
    list-style-type: none;
    
}


/* Style de las casas gral*/

 .primera-seccion{
    width: 90%;
    padding: 20px;
    margin: auto; 
    border-style: none none solid none;
    
}

.conteiner{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    
}

.logo{
    min-width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.video{
    min-width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 30px;
}

/* Titulos de las casas */

h5{
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

h2{
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    
}

/* Casas */
.lannister{

    min-width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    }


.targaryen{

    min-width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.stark{
    min-width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baratheon{
    min-width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.descripcion{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    border-style: none none solid none;
}

h1{
    padding: 40px 0px 0px 0px;
    font-size: 25px;
    text-align: center;

    
}

/* footer */

footer{
    
    min-width: 100%;
    background-image: url(../img/roman-adamovich-zthXA9EcURY-unsplash.jpg);
    background-size: cover;

  }

  footer .primer-footer{
    min-width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0px;
  }

 div .redes-sociales{
    padding: 0px 25px;
  }

  div .pago{
    padding: 0px 25px;
  }

  footer ul{
    list-style-type: none;
    
}

footer .primer-footer .detalle{
    font-size: 25px;
    color: wheat;
    margin-bottom: 25px;
    text-align: start;
}

footer .primer-footer a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: wheat;
    margin-right: 10px;
    text-align: center;
}

footer .primer-footer .mas-info{
    color: wheat;
    margin-right: 10px;
    text-align: center;
}

footer .primer-footer .datos{
    color: wheat;
    margin-right: 10px;
    text-align: start;
    margin: 10px;
    padding: 10px;

}

footer .segundo-footer {
    width: 90%;
    max-width: 1200px; 
    padding: 25px 0px;
    opacity: 0.8;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
