@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Cinzel', serif;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav{
    background-color: #540101;
    width: 100%;
    font-weight:bold;
}

.enlace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px;
}

a{
    text-decoration: none;
    font-size: 1.4em;
    color: white;
}

main{
    background-color: #e6c6a6;
    height: 600px;
    text-align: center;
    color:black;
}

.calificacion input {
    display: none;
}
  
label {
    color: grey;
    font-size: 20px;
    padding: 2px;
}

.calificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: #996515;
}

.calificacion input:checked ~ label {
    color: #996515;
}

footer{
    text-align: center;
    background-color: #D2EFEC;
}

@media only screen and (max-width: 600px) {
    .enlace {
        flex-direction: column;
        justify-content: space-evenly;
    } 
    nav{
        height: 200px;
    }
    a{
        font-size: 1.1em;
    }
}
    