@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Cinzel', serif;
}

/* estilo body */
body {
  background-image: url(/img/pexels-pixabay-235985\(2\).jpg);
  min-height: 100vh;
  overflow-x: hidden;
}

/* estilo header */
header {
  position: sticky;
  top: -17vw;
  z-index: 1;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* estilo menu */
nav {
  background-color: #540101;
  width: 100%;
  font-weight: bold;
}

.enlace {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 7px;
}

a {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}

.item1:hover, .item2:hover, .item3:hover:hover, .item4:hover, .item5:hover{
  transition: 0.2s;
  padding: 5px;
  background-color: #830505;
}

#menu,
#menu-check,
#line-nav {
  display: none;
}

main {
  text-align: center;
  color: black;
  padding: 30px;
}

h1 {
  font-size: 50px;
  filter: drop-shadow(2px 2px 3px rgb(239, 252, 252))
}

/* SECTION */
.seccion-1 {
  min-width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

/* ESTILO DE SECTION */
.seccion-1 .conteiner1 {
  display: grid;
  width: 100%;
  height: auto;
}

.seccion-1 .conteiner3 {
  display: grid;
  width: 100%;
  height: auto;
  text-align: end;
}

.seccion-1 .container2 {
  display: grid;
  place-items: center;
  /* height: 100vh; */
}

.columna {
  width: 6.25rem;
  height: 100%;
}

.columna1 {
  width: 6.25rem;
  height: 100%;
  justify-self: flex-end;
}

.titulo {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 3.125rem;
  color: black;
  filter: drop-shadow(2px 2px 3px rgb(239, 252, 252));
}

.texto-inicio {
  font-family: 'Cinzel', serif;
  font-size: 1.3rem;
  text-align: center;
  margin-block-start: auto;
  margin-block-end: auto;
  line-height: 1.5;
  margin-top: 3.125rem;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  filter: drop-shadow(3px 3px 5px rgb(176, 230, 233));
}

.animacion {
  display: grid;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 3.375rem;
  margin-block-end: -30px;
  filter: drop-shadow(3px 2px 2px rgb(198, 239, 252));
}

.animate__animated {
  justify-self: center;
}

.video-promo {
  text-align: center;
  margin-block-start: auto;
  margin-block-end: auto;
  margin-top: 3.125rem;
  margin-block-end: 4%;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 10px rgb(24, 22, 22));
}

/* Style de las casas gral*/
.primera-seccion{
  width: 95%;
  padding: 20px;
  margin: auto; 
  border-style: none none double none;
}

.conteiner{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo{
  min-width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video{
  min-width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
}

/* Titulos de las casas */
h2 {
  font-size: 2.2em;
  text-align: center;
  filter: drop-shadow(2px 2px 3px rgb(239, 252, 252))
}

h3{
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Casas */
.lannister{

  min-width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  }


.targaryen{

  min-width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.stark{
  min-width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.baratheon{
  min-width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.descripcion{
  font-size: 22px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 0;
  border-style: none none double none;
  filter: drop-shadow(2px 2px 3px rgb(239, 252, 252))
}

/* Cambio para que los escudos de las casas se intercalen(ver class en div)  */
.impar, .par {
  background-image: url(/img/pexels-pixabay-235985\(2\).jpg);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
}

.impar p {
  text-align: left;
}

.par p {
  text-align: right;
}

.parubi p {
  text-align: right;
}

.imgimpar {
  float: right;
  border-radius: 10px;
}

.imgpar {
  float: left;
  border-radius: 10px;
}

/* formulario de calificación */
form {
  background-color: rgba(255, 255, 255, 0.558);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.form-container {
  display: inline-block;
  justify-self: center;
  align-self: flex-end;
  width: 500px;
}

.form-container p, .contact-form p {
  padding: 0;
}

.form-container form {
  display: grid;
  place-items: center;
  grid-template-columns: 40% auto;
  grid-gap: 10px;
}

.opinion {
  font-size: 1.3em;
  color: #540101;
  margin-top: auto;
}

.calificacion input {
  display: none;
}

.fa-solid {
  color: gray;
  font-size: 25px;
  padding: 2px;
}

.calificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.calificacion label:hover,
.calificacion label:hover~label {
  color: #007f00;
}

.calificacion input:checked~label {
  color: #007F00;
}

.comentarios {
  align-self: flex-start;
}

form input,
form textarea {
  border-radius: 4px;
  border-color: #540101;
  border-width: 1pt;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  font-size: 0.9em;
}

form input::placeholder,
textarea::placeholder {
  color: gray;
  font-weight: lighter;
}

.submit {
  width: 40%;
  justify-self: center;
  align-self: center;
  background-color: #540101;
  border-color: #540101;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

.form-container .submit {
  grid-column: 1 / span 2;
  width: 30%;
}

#aviso {
  grid-column: 1 / span 2;
  width: auto;
  text-align: center;
  margin: auto;
  color: red;
  font-size: 18px;
}

/* formulario de contacto */
#contacto {
  display: grid;
}

#contacto h1 {
  margin-top: auto;
}

.contact-form {
  justify-self: center;
  width: 500px;
  padding: 3vw;
}

.contact-form div {
  justify-self: center;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
}

.contact-form div:nth-child(even) {
  padding-bottom: 20px;
}

.warnings {
  width: 250px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  color: red;
  font-size: 18px;
}

/* footer */
footer {
  min-width: 100%;
  background-image: url(../img/roman-adamovich-zthXA9EcURY-unsplash.jpg);
  background-size: cover;
  max-width: 100vh;
}

/* redes sociales */
footer .primer-footer{
  min-width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 45px 0px;
}

footer ul{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

div .redes-sociales{
  padding: 0px 25px;
}

div .pago{
  padding: 0px 25px;
}

footer .primero{
  font-size: 30px;
  color: wheat;
  text-align: center;
  margin-bottom: 20px;
  filter: none;
}

footer .primera-li {
  margin: 0;
  padding: 0;
  display: flex;
  /* position: absolute; */
  left: 22%;
  bottom:-15%;
  transform: translate(20%, -10%);
}

footer .primera-li li {
  list-style: none;
  margin: 0 15px;
}

footer  .primera-li li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #252525;
  border-radius: 50%;
  font-size: 30px;
  color: #252525;
  transition: .5s;
}

footer .primera-li li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fc2003;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

footer .primera-li li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 30px #fc2003;
}

footer .primera-li li a:hover {
  color: #fc2003;
  box-shadow: 0 0 30px #fc2003;
  text-shadow: 0 0 30px #fc2003;
}

/* pagos */
footer .segundo{
  font-size: 30px;
  color: wheat;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  filter: none;
}

footer .pago{
  font-size: 30px;
  color: wheat;
  text-align: center;
  align-items: center;
}

footer .segunda-li {
  margin: 0;
  padding: 0;
  display: flex;
  /* position: absolute; */
  left: 56%;
  bottom:-15%; 
  transform: translate(20%, -10%);
}

footer .segunda-li li {
  list-style: none;
  margin: 0 15px;
}

footer  .segunda-li li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #252525;
  border-radius: 50%;
  font-size: 30px;
  color: #252525;
  transition: .5s;
}

footer .segunda-li li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fc2003;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

footer .segunda-li li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 30px #fc2003;
}

footer .segunda-li li a:hover {
  color: #fc2003;
  box-shadow: 0 0 30px #fc2003;
  text-shadow: 0 0 30px #fc2003;
}

/* info */
footer .tercero{
  font-size: 30px;
  color: wheat;
  text-align: center;
  align-items: center;
  /* margin-bottom: 20px; */
  filter: none;
}

footer .primer-footer .mas-info{
  color: wheat;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
}

footer .primer-footer .mas-info p {
  color: wheat;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
}

.mail {
  color: wheat;
  font-weight: bold;
  font-size: 18px;
}

.contacto {
  color: wheat;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  text-decoration-line: underline;
}

/* Musica */
footer .segundo-footer {
  /* width: 90%; */
  /* max-width: 1200px;  */
  /* padding: 25px 0px; */
  opacity: 0.8;
  color: wheat;
  position: relative;
  display: grid;
  /* left: 2rem; */
  /* justify-self: center; */
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
}

.soundtrack iframe {
  width: 280px;
  height: 100px;
  border-radius: 10px;
}

.soundtrack {
  justify-self: start;
  margin-left: 2rem;
}

/*MEDIA PARA DISTINTOS DISPOSITIVOS*/
/* Escritorio extra grande */
@media only screen and (min-width: 1200px) {
  .seccion-1 {
    width: 100%;
    height: 100%;
  }

  .titulo {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .texto-inicio {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .columna {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .columna1 {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .video-promo {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .animacion {
    min-width: 6.25rem;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }

  #contacto {
    background-image: url(/img/dragones-removebg-preview.png);
    background-repeat: space;
    background-size: 35%;
    margin-top: 5vw;
  }

  #contacto h1 {
    font-size: 2.8em;
    margin-top: -4vw;
  }

  .contact-form {
    margin-top: -2vw;
  }
}

/* Escritorio / tablet */
@media only screen and (min-width: 767px) and (max-width: 1199px) {
  .seccion-1 {
    width: 100%;
    height: 100%;
  }

  .titulo {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .texto-inicio {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .columna {
    min-width: 6.25rem;
    max-width: 12.5rem;
  }

  .columna1 {
    min-width: 6.25rem;
    max-width: 12.5rem;
  }

  .video-promo {
    min-width: 100px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .animacion {
    min-width: 100px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .conteiner{
    grid-template-columns: auto;
  }

  .video {
    margin-left: 0;
  }

  #contacto h1 {
    font-size: 2.8em;
  }
}

@media only screen and (max-width: 600px) {
  .enlace {
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  #menu-check:not(:checked)~.enlace {
    display: none;
  }

  #menu-check:checked~.enlace {
    display: block;
    height: 150px;
  }

  #menu {
    display: block;
    color: white;
    background-color: #540101;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0.6em;
  }

  #menu-cerrar {
    display: none;
  }

  #menu-check:checked~label #menu-abrir {
    display: none;
  }

  #menu-check:checked~label #menu-cerrar {
    display: block;
    font-size: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
  }

  #menu-check:checked~#line-nav {
    display: block;
  }

  a {
    font-size: 1.1em;
  }

  .conteiner{
    grid-template-columns: auto;
  }

  .video {
    margin-left: 0;
  }

  .form-container {
    width: 100%;
    font-size: 3vw;
  }

  .fa-solid {
    font-size: 5vw;
  }

  .form-container form {
    grid-template-columns: 30% auto;
  }

  .contact-form {
    width: 90%;
    justify-self: center;
    margin-left: 0%;
    margin-top: -30px;
    font-size: 0.9em;
  }
}

/* Footer responsive */
@media only screen and (max-width: 1024px) {
  footer .primer-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
  }


  footer .segundo-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
  }


  .soundtrack{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  footer ul {
    display: flex;
  }

  footer .primera-li li {
    margin: 0;
    display: flex;
    margin-right: auto;
    margin-left: -5%;
    justify-self: space-between;
  }

  footer .segunda-li li {
    margin: 0;
    display: flex;
    margin-right: auto;
    margin-left: -5%;
    justify-self: space-between;
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 360px) and (max-width: 767px) {
  .seccion-1 {
    width: 100%;
    height: 100%;
  }

  .titulo {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .texto-inicio {
    min-width: 6.25rem;
    max-width: 75rem;
  }

  .columna {
    /* min-width: 100px ;
        max-width: 250px; */
    display: none;
  }

  .columna1 {
    /* min-width: 100px;
        max-width: 250px; */
    display: none;
  }

  .video-promo {
    min-width: 6.25rem;
    max-width: 21.875rem;
    margin-left: auto;
    margin-right: auto;
  }

  .animacion {
    min-width: 100px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .animate__animated {
    width: 100%;
    justify-self: center;
  }

  .conteiner{
    grid-template-columns: auto;
  }

  .video {
    margin-left: 0;
  }

  #contacto h1 {
    font-size: 2em;
  }
}

/* Teléfonos */
@media only screen and (max-width: 360px) {
  .seccion-1 {
    width: 100%;
    height: 100%;
  }

  /* .conteiner1 {
    min-width: 6.25rem;
    max-width: 12.5rem;
  }

  .titulo {
    min-width: 6.25rem;
    max-width: 12.5rem;
  }

  .texto-inicio {
    min-width: 6.25rem;
    max-width: 12.5rem;
  } */


  .columna {
    /* min-width: 100px ;
    max-width: 200px; */
    display: none;
  }

  .columna1 {
    /* min-width: 100px ;
    max-width: 200px; */
    display: none;
  }

  .video-promo {
    min-width: 6.25rem;
    max-width: 15.625rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* .animacion {
    min-width: 100px;
    max-width: 250px;
  } */

  .animate__animated {
    width: 100%;
  }

  .conteiner{
    grid-template-columns: auto;
  }

  .video {
    margin-left: 0;
  }

  #contacto h1 {
    font-size: 7vw;
  }

  .contact-form {
    margin-top: -30px;
    font-size: 3vw;
  }
}